@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Sniglet', cursive;
    background-color: #7db9b3;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
  max-height: 600px;
  max-width: 1000px;
}

.left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.left h3{
    
    font-weight: 400;
    font-size : 3rem;
    color: rgb(122, 108, 25);
}

.turnIndicator{
  width: 100%;
  display: flex;
  font-size: clamp(35px,3vw,60px);
  color: #000202;
  font-weight: 400;
  background-color: white;



}

.turnIndicator *{
  flex: 1;
  text-align: center;
  border: 2px solid black;

}

.presentTurn{
  background-color: aqua;
  color: rgb(80, 80, 80);
}

.board-arena{
    flex: 2;
    display: flex;
    justify-content: center;
}

.board {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3, 1fr);
  background-color: #364345;
  border: 3px solid #2e3837;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px #2e3837;
}

.box {
  color: #e1f6f4;
  border: #2e3837 3px solid;
  border-radius: 1px;
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 80vw;
  max-width: 700px;
  height: 50vh;
  max-height: 400px;
  border: 10px solid #2e3837 ;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  position: absolute;
  top:50px;
}
.modal .heading{
  text-align: center;
  display: block;
  font-size: 4rem;
  width: 90%;
  margin: 0 auto;
  border: 2px solid gray;
  box-shadow: 5px 10px 10px gray;
}

.action{
  text-align: center;
}

.btn{
  width: 50%;
  height: clamp(70px,5vw,100px);
  background-color: #611e32;
  color: white;
  font-family: 'Sniglet', cursive;
  font-size: 2rem;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}

.foot1 , .foot2{
  position: absolute;
  font-family: 'Handlee', cursive;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.781);
  font-style: italic;
}

.foot1{
  bottom: 0;
}

.foot2{
  right: -100px;
  bottom: -10px;
  transform: rotate(270deg);
  transform-origin: 0;
}

@media screen and (max-width:1000px) {
    .board{
        width: 300px;
        height: 300px;
    }

    .container{
        flex-direction: column;
    }
    .left{
      width: 90vw;
    }
}

